<div class="nav" ng-controller='navCtrl'>
    <p class="companyName" ng-bind="company.companyDescription"></p>
    
	<ul>
		<a ng-href='#/login' ng-hide="loggedinUser" ui-sref-active='active'><li>LOGIN</li></a>
        <a ng-href='#/register' ng-hide="loggedinUser" ui-sref-active='active'><li>REGISTER</li></a>
        <a ng-href='' ng-show="loggedinUser" ng-click="logout()" ui-sref-active='active'><li>LOGOUT</li></a>
        <a ng-href='#/profile/{{loggedinUser.userID}}' ng-show="loggedinUser"  ui-sref-active='active'><li>PROFILE</li></a>
		<a ng-href='#/home' ui-sref-active='active'><li>HOME</li></a>
	</ul>
</div>